/Encoo.LowCode.WechatServer/WebPage/obj
/Encoo.LowCode.WechatServer/WebPage/bin
/Encoo.LowCode.WechatServer/Encoo.LowCode.WechatServer/obj
/Encoo.LowCode.WechatServer/Encoo.LowCode.WechatServer/bin
/Encoo.LowCode.WechatServer/ConsoleApp1/obj
/Encoo.LowCode.WechatServer/ConsoleApp1/bin
