@using Encoo.LowCode.WechatServer.Models;
@{
    ViewData["Title"] = "第三方应用授权回调页面";
    Layout = null;
    var currentUser = ViewBag.UserInfo as WechatAuthUserInfoResponse;
    var token = ViewBag.Token as string;
    var url = $"https://consoletest.bottime.com/sso.html?access_token={token}";
}

<h1>@ViewData["Title"]</h1>
<div class="text-center" style="width:100%">
    <h1 class="display-4">
        当前供应商唯一Id：@currentUser.open_userid
    </h1>
    <h1 class="display-4">
        当前用户企业内Id：@currentUser.UserId
    </h1>
    <h1 class="display-4">
        当前的企业Id: @currentUser.CorpId
    </h1>
    <h1 class="display-4">
        ********************************************************
    </h1>

    <a style="width:100px;height:60px;" href="@url" >回到SSO</a>

</div>
