@{
    ViewData["Title"] = "第三方应用授权回调页面";
    Layout = null;
}
@*<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="https://open.work.weixin.qq.com/wwopen/js/jwxwork-1.0.0.js"></script>*@

<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4">
        @ViewBag.UserInfo
    </h1>

    <h1 class="display-4">
        @ViewBag.UserDetailInfo
    </h1>


    <h1 class="display-4">
        @ViewBag.Departments
    </h1>
</div>
