@{
    ViewData["Title"] = "第三方应用授权回调页面";
    Layout = null;
}

<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4">
        @ViewBag.UserInfo
    </h1>

    <h1 class="display-4">
        @ViewBag.UserDetailInfo
    </h1>


    <h1 class="display-4">
        @ViewBag.Departments
    </h1>
</div>
